body {
	color: #333; /* color: #333333; */
	/* color: #abc -> color: #aabbcc */
	/* ff:ss*/
	font-family: sans-serif;
}

.post {
	/* mb1em */
	margin-bottom: 1em;
	/* p1em */
	padding: 1em;
	/* bd+ */
	border: 1px solid #000;
	/* bdrs1m */
	border-radius: 1m;
}

.field {
	color: #eee;
	/* bgc */
	background-color: #333;
	padding: 1em;
}